html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;

  background-color: #ebe9ec;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sticky-footer {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0;
}

.page-title--red {
  background-color: #d3131e;
  color: #ffffff;
}

.page-title--green {
  color: #046866;
  border-top: 1px solid #046866;
  border-bottom: 1px solid #046866;
}

@media (min-width: 660px) {
  .page-title {
    font-size: 24px;
    padding: 10px 0;
  }
}

@media (min-width: 1200px) {
  .page-title {
    font-size: 32px;
  }
}


/*PAGE-HEADER*/


.page-header {
  background-color: #3d3d3f;
}

.page-header__inner {
  max-width: 100vw;
  margin: 0 auto;

  position: relative;
}

@media (min-width: 660px) {
  .page-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 15px;
  }
}

@media (min-width: 1200px) {
  .page-header__inner {
    max-width: 1440px;
    padding: 20px;
  }
}

.page-header__container {
  padding: 20px 15px;
}

@media (min-width: 660px) {
  .page-header__container {
    padding: 0;
  }
}

.page-header__title {
  margin-top: 0;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 660px) {
  .page-header__title {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .page-header__title {
    font-size: 32px;
  }
}

.page-header__profession {
  margin: 0;
  color: #a09ea1;
  font-size: 12px;
}

@media (min-width: 660px) {
  .page-header__profession {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .page-header__profession {
    font-size: 20px;
  }
}


/*CONTACTS*/


.contacts {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.contacts__switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__toogle {
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 30px 0 0;

  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
}

@media (min-width: 660px) {
  .contacts__toogle {
    display: none;
  }
}

.contacts__toogle::after {
  content: '';
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 5px 0 0 #ffffff,
    0 10px 0 0  #ffffff;
}

.contacts__toogle:hover {
  color: #a76267;
}

.contacts__toogle:hover::after {
  background-color: #a76267;
  box-shadow: 0 5px 0 0 #a76267,
    0 10px 0 0 #a76267;
}

.contacts__toogle--nojs {
  display: none;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;

  background-color: #3d3d3f;
  width: 100%;

  position: absolute;
  left: 0;
}

.contacts__list--closed {
  display: none;
}

.contacts__list--nojs {
  position: relative;
  display: block;
}

@media (min-width: 660px) {
  .contacts__list {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__list {
    column-gap: 15px;
  }
}

.contacts__item {
  box-shadow: inset 0 1px 0 #a09ea1;
}

@media (min-width: 660px) {
  .contacts__item {
    box-shadow: none;
  }
}

.contacts__link {
  text-decoration: none;
  color: #ffffff;
  fill: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 15px;
}

.contacts__link:hover {
  color: #a76267;
  fill: #a76267;
}

@media (min-width: 660px) {
  .contacts__link {
    padding: 0;
  }
}

.contacts__link-title {
  margin: 0;
}

@media (min-width: 660px) {
  .contacts__link-title {
    display: none;
  }
}

.contacts__link svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 660px) {
  .contacts__link svg {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1200px) {
  .contacts__link svg {
    width: 38px;
    height: 38px;
  }
}


/*PHOTO*/


.photo {
  background-color: #3d3d3f;
  box-shadow: 0 5px 5px -5px #000000;
  margin-bottom: 15px;
}

.photo__inner {
  width: 80vw;
  height: 80vw;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 20px;
}

@media (min-width: 1200px) {
  .photo__inner {
    max-width: 1440px;
  }
}

.photo__img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  object-position: top;

  border: 10px solid #ffffff;
}


/*SUMMARY*/


.summary__inner {
  padding: 15px;
}

.summary__desc,
.summary__skills {
  font-size: 16px;
  margin: 0;
  color: #414141;
}

.summary__desc {
  margin-bottom: 10px;
}

.summary__skills-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.summary__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.summary__item {
  padding: 5px;
  background-color: #adadad;
  border-radius: 3px;
  color: #000000;
}


/*EDUCATION*/


.education {
  background-color: #3d3d3f;
  box-shadow: 0 5px 5px -5px #000000;
  margin-bottom: 15px;
}

.education__inner {
  padding: 15px;
}

.education__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.education__item {
  margin-bottom: 10px;
}

.education__item:last-child {
  margin-bottom: 0;
}

.education__desc {
  color: #a09ea1;
}

.education__desc-title {
  font-weight: 700;
  color: #ffffff;
}


/*PROJECTS*/


.projects__inner {
  position: relative;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  height: 300px;

  transition: transform 0.5s ease-in-out;
}

.projects__item {
  position: absolute;
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
}

.projects__button {
  position: absolute;
  top: 50%;

  z-index: 100;
}

.projects__button--left {
  left: 20px;
}

.projects__button--right {
  right: 20px;
}


